.color_blackT{
    color:rgba(0, 0, 0, 0.37);
}

.color_black{
    color:rgb(0, 0, 0);
}

.text_align{
    text-align: center;
}

.flex_center{
    display: flex;
    justify-content: center;
}

.flex_centerD{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_main{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon_Story{
    text-align: center;
    margin: 10px 0;
}

.width_height{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}