@media(max-width:1600px) {
    .pokemon_list {
        width: 855px;
    }
}

@media(max-width:1300px) {
    .pokemon_list {
        width: 570px;
    }
}

@media(max-width:1000px) {
    .pokemon_list {
        width: 295px;
    }
}

@media(max-width:650px) {
    main {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .content_right {
        display: none;

    }

    .div_body {
        margin: 10px 0;
    }

    .content_left {
        margin-top: 20px;
    }

    .dialog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        gap: 10px;
    }

    .exit {
        width: 30px;
        margin-top: 20px;
        transition: all 250ms ease-in-out;
    }

    .exit:hover {
        cursor: pointer;
        scale: 1.1;
    }

    .dialog_none_mob {
        display: none;
    }

    .article_img {
        margin-top: 0px;
    }
}

@media(min-width:650px) {
    .dialog_none {
        display: none;
    }
}